<div class="filters">
  <mat-form-field>
    <mat-label>Sort</mat-label>
    <mat-select panelClass="sort-select" [(ngModel)]="sort">
      <mat-option value="name">Name</mat-option>
      <mat-option value="-released">Released</mat-option>
      <mat-option value="-added">Added</mat-option>
      <mat-option value="-created">Created</mat-option>
      <mat-option value="-updated">Updated</mat-option>
      <mat-option value="-raitng">Rating</mat-option>
      <mat-option value="metacritic">Metacritic</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="games">
  <div class="game">
    <div class="game-thumb-container">
      <img
        src="https://image.api.playstation.com/vulcan/img/rnd/202010/2618/w48z6bzefZPrRcJHc7L8SO66.png"
        alt="thumbnail"
        class="game-thumbnail"
      />
    </div>
    <div class="game-description">
      <p class="game-name">Name</p>
      <div class="game-platforms">
        <img
          src="https://www.pcgames.de/screenshots/original/2020/06/ps5-5--pc-games11.jpg"
          alt="slug"
          class="game-platform"
        />
      </div>
    </div>
  </div>
</div>
